* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}


/*============ Common Css End ===== 920*470 ===========*/

.main_part {
    width: 100%;
    height: 100vh;
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.login_part {
    width: 920px;
    height: 470px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    top: 15%;
    left: 18%;
 

}
.login_part{
    display: flex;
}

.login_part .login_img {
   width: 40%;
   height: 470px;
   background-image: url(../image/Login\ banner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 20px 0px 0px 20px;
   -webkit-border-radius: 20px 0px 0px 20px;
   -moz-border-radius: 20px 0px 0px 20px;
   -ms-border-radius: 20px 0px 0px 20px;
   -o-border-radius: 20px 0px 0px 20px;
}

.login_img h1 {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding-top: 80px;
    padding-left: 40px;
}

.login_img p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
    padding-left: 40px;
}
.login_text{
    width: 60%;
    height: 470px;
}
.login_text img{
    width: 112px;
    height: 40px;
    margin-top: 60px;
    margin-left: 60px;
}

.login_text .input{
    margin-top: 80px;
    margin-left: 60px ;
}
.login_text .input h3{
    font-size: 20px;
    font-weight: 400;
    color: #646464;
    margin-bottom: 20px;
}
.input input{
    width: 390px;
    height: 35px;
    outline: none;
    border-color:1px solid #646464;
}

.input input:hover{
    border-color:1px solid #145388;
}

.btn{
    display: flex;
    margin-top: 30px;

}
.btn p{
    color: #646464;
    margin-top: 20px;
}

.btn p:hover{
    color: #145388;
    cursor: pointer;
}
.btn a{
    padding: 14px 44px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #145388;
    text-transform: uppercase;
    margin-left: 120px;
}
.btn a:hover{
    background-color: #0f3c61;
}
